.territorial-experience {
  background-color: $bgLightGrey;
  color: $textGrey;
  min-height: 100vh;
  display: flex;
  align-items: center;

  &__text {
    width: 50%;
    font-size: 1.25rem;
    line-height: 1.6875rem;
  }

  .section-title {
    text-align: left;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li:before {
      content: "-";
      padding-right: 10px;
    }
  }
}