.welcome-blurb {
  background-color: $mainRed;
  color: white;
  padding: 0 18px 1px 18px;
  /* margin-bottom: 98px; */

  @mixin atLarge {
    margin-bottom: 0;
    padding: 0 1.8125rem 1px 1.8125rem;
  }

  &__text {

    @mixin atMedium {
      display: flex;
      flex-direction: horizontal;
      align-items: center;
      padding: 1rem 0;
    }

    &--content {
      font-size: 1.25rem;
      line-height: 1.6875rem;

      @mixin atMedium {
        margin-right: 3.75rem;
      }

      .section-title {
        text-align: left;
      }
    }

    &--link {
      font-size: 3.125rem;
      text-decoration: underline;
      width: auto;
      flex-shrink: 0;
      padding: 2rem 0 2rem; 
      border-top: 1px solid white;
      text-align: center;

      @mixin atMedium {
        text-align: left;
        border-top: none;
        border-left: 1px solid white;
        padding: 2rem 0 2rem 3.75rem; 
      }
    }
  }

  &__photo {
    border-radius: 80px;
    border: 6px solid rgba(255, 255, 255, 0.8);
    overflow:hidden;
    height: 160px;
    width: 160px;
    margin: 0 auto -80px auto;
    position: relative;
    top: -80px;
  }

  &__title {
    color: $mainRed;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    color: $mainRed;
    text-align: center;
    font-weight: 400;
    font-size: .9375rem;
    margin: .25rem 1rem;
  }

  &--last {
    margin-bottom: 0;
  }

}
