.why-choose-us {
  background-image: url("/assets/images/why-choose-us-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  min-height: 120vh;
  display: flex;
  align-items: center;

  &__text {
    padding: 1rem 0;
    font-size: 1.25rem;
    line-height: 1.6875rem;

    @mixin atMedium {
      display: flex;
      flex-direction: horizontal;
      align-items: center;
    }

    &--content {
      font-size: 1.25rem;
      line-height: 1.6875rem;
      padding: 0 1rem;  
      border-bottom: 2px solid rgba(255, 255, 255, .6);

      @mixin atSmall {
        padding: 0 2rem;
      }

      @mixin atMedium {
        border-bottom: none;
        border-right: 2px solid rgba(255, 255, 255, .6);
        padding: 2rem 3rem 2rem 0; 
      }

      @mixin atXLarge {
        padding: 2rem 7rem 2rem 0; 
      }

      h2.section-title {
        text-align: center;
      }
    }

    &--link {
      font-size: 3.125rem;
      width: auto;
      padding: 1rem 1rem 0;
      text-align: center;

      @mixin atSmall {
        padding: 1rem 2rem 0;
      }

      @mixin atMedium {
        text-align: left;
        padding: 2rem 0 2rem 3.5rem; 
      }

      @mixin atXLarge {
        padding: 2rem 0 2rem 9rem; 
      }

      h2.section-title {
        text-align: center;
        margin-bottom: 0;

        @mixin atMedium {
          text-align: left;
        }
      }
    }
  }

  .section-title {
    text-align: left;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 1.875rem 0;
      display: flex;
      flex-direction: horizontal;
      align-items: center;

      img {
        padding-right: 1.5625rem;
      }
    }
  }
}